version: "2"
services: 
  web:
    build: .
    image: qpair/flaskapp
    ports:
       - "5000:5000"
       - "8000:8000"
    mem_limit: 800m
    volumes:
       - .:/code 
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "5"
